@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

body {
    background-color: #FFFEB7;
    margin: 0;
    height: 100vh;
    font-family: 'Gugi', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    position: relative;
    bottom: 50px;

}
@keyframes animatebutton {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}
.key {
    display:flex;
    justify-content: center;
    flex-direction: column;
    background-color: #D3D3D3;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgb(0 0 0 / 20%);
    height: 150px;
    width: 150px;
}
.key-animate {
    animation: animatebutton 0.06s ease-in-out;
}
.key-select-text {
    align-self: center;
    text-align: center;
    word-wrap: break-word;
}
.key-code {
    align-self: center;
}